body {
  padding: 0;
  margin: 0;
  font-family: "Cairo", sans-serif !important;
}

.special-title {
  padding: 10px 20px;
  border: 2px solid black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 30px;
  margin: 0 auto 80px;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.special-title::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -30px;
  background-color: #2196f3;
  border-radius: 50%;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.special-title::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -30px;
  background-color: #2196f3;
  border-radius: 50%;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.special-title:hover {
  -webkit-animation-name: title;
          animation-name: title;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.special-title:hover::before {
  -webkit-animation-name: moveright;
          animation-name: moveright;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.special-title:hover::after {
  -webkit-animation-name: moveleft;
          animation-name: moveleft;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes moveright {
  0% {
    left: -30px;
  }
  50% {
    left: 0px;
  }
  100% {
    width: 50%;
    height: 100%;
    border-radius: 0;
    z-index: -1;
    left: 0px;
  }
}

@keyframes moveright {
  0% {
    left: -30px;
  }
  50% {
    left: 0px;
  }
  100% {
    width: 50%;
    height: 100%;
    border-radius: 0;
    z-index: -1;
    left: 0px;
  }
}
@-webkit-keyframes title {
  0% {
    color: black;
    background-color: white;
    border: 2px solid black;
  }
  100% {
    color: white;
    border: 2px solid #2196f3;
  }
}
@keyframes title {
  0% {
    color: black;
    background-color: white;
    border: 2px solid black;
  }
  100% {
    color: white;
    border: 2px solid #2196f3;
  }
}
@-webkit-keyframes moveleft {
  0% {
    right: -30px;
  }
  50% {
    right: 0px;
  }
  100% {
    width: 50%;
    height: 100%;
    border-radius: 0;
    z-index: -1;
    right: 0px;
  }
}
@keyframes moveleft {
  0% {
    right: -30px;
  }
  50% {
    right: 0px;
  }
  100% {
    width: 50%;
    height: 100%;
    border-radius: 0;
    z-index: -1;
    right: 0px;
  }
}
.navbarr {
  background-color: white;
}
.navbarr .dropdown-menu {
  width: 95vw;
  position: absolute;
  left: 30px;
  top: 100px;
  opacity: 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  display: block;
  padding: 30px;
  border-radius: 0;
  border: none;
  border-bottom: 3px solid #2196f3;
}
.navbarr .dropdown-menu .row {
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.navbarr .dropdown-menu .row .image img {
  max-width: 100%;
}
.navbarr .dropdown-menu .row ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbarr .dropdown-menu .row ul li:not(:first-child) {
  border-top: 1px solid #e9e6e6;
}
.navbarr .dropdown-menu .row ul li {
  padding: 15px;
  position: relative;
}
.navbarr .dropdown-menu .row ul li::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  background-color: #fafafa;
  z-index: -1;
  left: 0;
}
.navbarr .dropdown-menu .row ul li:hover::before {
  width: 100%;
}
.navbarr .dropdown-menu .row ul li a {
  font-size: 18px;
  color: #2196f3;
  font-weight: bold;
  padding: 0;
}
.navbarr .dropdown-menu .row ul li a svg {
  margin-right: 15px;
}
.navbarr .dropdown-menu .row ul li a:hover {
  background-color: transparent;
}
.navbarr .show {
  top: 73px;
  opacity: 1;
}

.navbar {
  height: 72px;
  padding: 0;
}
.navbar .container-fluid {
  height: 100%;
}
.navbar .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 26px;
  font-weight: 700;
  color: #2196f3;
}
.navbar .collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 100%;
}
.navbar .collapse .navbar-nav {
  height: 100%;
}
.navbar .collapse .navbar-nav .nav-item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  position: relative;
}
.navbar .collapse .navbar-nav .nav-item::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 5px;
  top: 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  background-color: #2196f3;
}
.navbar .collapse .navbar-nav .nav-item:hover {
  background-color: #fafafa;
}
.navbar .collapse .navbar-nav .nav-item:hover::before {
  width: 100%;
}
.navbar .collapse .navbar-nav .nav-item:hover .nav-link {
  color: #2196f3;
}
.navbar .collapse .nav-link {
  padding: 0 30px;
  font-size: 18px;
  color: black;
}

@media (min-width: 768px) and (max-width: 991px) {
  .container-fluid {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  .container-fluid .navbar-brand {
    height: auto !important;
  }
  .container-fluid .collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .container-fluid .collapse .navbar-nav {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .dropdown-menu .row {
    -webkit-column-gap: 0px !important;
       -moz-column-gap: 0px !important;
            column-gap: 0px !important;
  }
  .dropdown-menu .row ul {
    padding: 0 20px !important;
  }
  .dropdown-menu .image {
    display: none;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .container-fluid .navbar-brand {
    height: auto;
  }
  .container-fluid .collapse {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-preferred-size: 1;
        flex-basis: 1;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-height: 45%;
    overflow: hidden;
  }
  .container-fluid .collapse .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-fluid .collapse .navbar-nav .nav-item {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .container-fluid .collapse .navbar-nav .nav-item .nav-link {
    padding: 10px;
    font-size: 14px;
  }
  .dropdown-menu {
    padding: 0 15px !important;
    width: 100% !important;
    left: 0px !important;
  }
  .dropdown-menu .special {
    border-top: 1px solid #e9e6e6;
  }
  .dropdown-menu ul {
    padding: 0 !important;
  }
  .dropdown-menu .image {
    display: none;
  }
  .show {
    top: 73px !important;
  }
}
.land {
  padding: 100px 0;
  position: relative;
}
.land::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 125%;
  top: -115px;
  left: 0;
  background-color: #ececec;
  z-index: -2;
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
}
.land .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.land .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
  font-weight: 700;
}
.land .text p {
  max-width: 500px;
  font-size: 24px;
  margin-top: 5px 0 0;
  color: #666;
}
.land .image img {
  max-width: 100%;
  position: relative;
  -webkit-animation-name: updown;
          animation-name: updown;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.land svg {
  position: absolute;
  bottom: -100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 30px;
  color: #2196f3;
  -webkit-animation-name: downit;
          animation-name: downit;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  cursor: pointer;
}

@-webkit-keyframes updown {
  0% {
    top: 0;
  }
  25% {
    top: -40px;
  }
  50% {
    top: 0;
  }
  75% {
    top: 40px;
  }
  100% {
    top: 0;
  }
}

@keyframes updown {
  0% {
    top: 0;
  }
  25% {
    top: -40px;
  }
  50% {
    top: 0;
  }
  75% {
    top: 40px;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes downit {
  0% {
    bottom: -100px;
  }
  20% {
    bottom: -70px;
  }
  40% {
    bottom: -70px;
  }
  60% {
    bottom: -100px;
  }
  80% {
    bottom: -80px;
  }
  100% {
    bottom: -100px;
  }
}
@keyframes downit {
  0% {
    bottom: -100px;
  }
  20% {
    bottom: -70px;
  }
  40% {
    bottom: -70px;
  }
  60% {
    bottom: -100px;
  }
  80% {
    bottom: -80px;
  }
  100% {
    bottom: -100px;
  }
}
@media (max-width: 400px) {
  .land {
    height: 75vh;
  }
  .land::before {
    height: 120%;
    top: -50px;
  }
  .land .container {
    height: 100%;
  }
  .land .container .row {
    height: 100%;
  }
  .land .container .text h1 {
    font-size: 28px;
    text-align: center;
  }
  .land .container .text p {
    font-size: 18px;
    text-align: center;
  }
  .land .container .image {
    display: none;
  }
}
@media (min-width: 401px) and (max-width: 767px) {
  .land {
    padding: 35px 0;
    height: auto;
  }
  .land::before {
    height: 190%;
  }
  .land .text h1 {
    font-size: 28px;
    text-align: center;
  }
  .land .text p {
    font-size: 18px;
    text-align: center;
  }
  .land .image {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .land {
    height: 75vh;
  }
  .land .container {
    height: 100%;
  }
  .land .container .row {
    height: 100%;
  }
  .land .text h1 {
    text-align: center;
  }
  .land .text p {
    text-align: center;
    margin: 10px auto;
  }
  .land .image {
    display: none;
  }
}
.articles {
  padding: 200px 0;
}
.articles .content {
  padding: 20px;
}
.articles .content .card {
  top: 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  padding: 0;
  border: none;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}
.articles .content .card:hover {
  top: -15px;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}
.articles .content .card:hover svg {
  -webkit-animation-name: mright;
          animation-name: mright;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.articles .content .card img {
  max-width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.articles .content .card .disc {
  padding: 20px;
}
.articles .content .card .disc h3 {
  margin: 0;
  font-size: 19px;
  font-weight: 700;
}
.articles .content .card .disc p {
  margin: 10px 0 0;
  font-size: 16px;
  color: #777;
}
.articles .content .card .read {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.articles .content .card .read button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  color: #2196f3;
}
.articles .content .card .read svg {
  color: #2196f3;
  position: absolute;
  right: 20px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

@-webkit-keyframes mright {
  0% {
    right: 20px;
  }
  100% {
    right: 10px;
  }
}

@keyframes mright {
  0% {
    right: 20px;
  }
  100% {
    right: 10px;
  }
}