body {
  padding: 0;
  margin: 0;
  font-family: "Cairo", sans-serif !important;
}
body img {
  max-width: 100%;
}

.special-title {
  padding: 10px 20px;
  border: 2px solid black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 30px;
  margin: 0 auto 80px;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  z-index: 9999;
}
.special-title::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -30px;
  background-color: #2196f3;
  border-radius: 50%;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.special-title::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -30px;
  background-color: #2196f3;
  border-radius: 50%;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.special-title:hover {
  -webkit-animation-name: title;
          animation-name: title;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.special-title:hover::before {
  -webkit-animation-name: moveright;
          animation-name: moveright;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.special-title:hover::after {
  -webkit-animation-name: moveleft;
          animation-name: moveleft;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes moveright {
  0% {
    left: -30px;
  }
  50% {
    left: 0px;
  }
  100% {
    width: 51%;
    height: 100%;
    border-radius: 0;
    z-index: -1;
    left: 0px;
  }
}

@keyframes moveright {
  0% {
    left: -30px;
  }
  50% {
    left: 0px;
  }
  100% {
    width: 51%;
    height: 100%;
    border-radius: 0;
    z-index: -1;
    left: 0px;
  }
}
@-webkit-keyframes title {
  0% {
    color: black;
    background-color: white;
    border: 2px solid black;
  }
  100% {
    color: white;
    border: 2px solid #2196f3;
  }
}
@keyframes title {
  0% {
    color: black;
    background-color: white;
    border: 2px solid black;
  }
  100% {
    color: white;
    border: 2px solid #2196f3;
  }
}
@-webkit-keyframes moveleft {
  0% {
    right: -30px;
  }
  50% {
    right: 0px;
  }
  100% {
    width: 50%;
    height: 100%;
    border-radius: 0;
    z-index: -1;
    right: 0px;
  }
}
@keyframes moveleft {
  0% {
    right: -30px;
  }
  50% {
    right: 0px;
  }
  100% {
    width: 50%;
    height: 100%;
    border-radius: 0;
    z-index: -1;
    right: 0px;
  }
}
.navbarr {
  background-color: white;
}
.navbarr .dropdown-menu {
  width: 95vw;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 100px;
  opacity: 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  display: block;
  padding: 30px;
  border-radius: 0;
  border: none;
  border-bottom: 3px solid #2196f3;
  z-index: -1;
}
.navbarr .dropdown-menu .row {
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.navbarr .dropdown-menu .row ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbarr .dropdown-menu .row ul li:not(:first-child) {
  border-top: 1px solid #e9e6e6;
}
.navbarr .dropdown-menu .row ul li {
  padding: 15px;
  position: relative;
}
.navbarr .dropdown-menu .row ul li::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  background-color: #fafafa;
  z-index: -1;
  left: 0;
}
.navbarr .dropdown-menu .row ul li:hover::before {
  width: 100%;
}
.navbarr .dropdown-menu .row ul li a {
  font-size: 18px;
  color: #2196f3;
  font-weight: bold;
  padding: 0;
}
.navbarr .dropdown-menu .row ul li a:focus {
  background-color: transparent;
}
.navbarr .dropdown-menu .row ul li a svg {
  margin-right: 15px;
}
.navbarr .dropdown-menu .row ul li a:hover {
  background-color: transparent;
}
.navbarr .show {
  top: 73px;
  opacity: 1;
  z-index: 999 !important;
}

.navbar {
  height: 72px;
  padding: 0;
}
.navbar .container-fluid {
  height: 100%;
}
.navbar .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 26px;
  font-weight: 700;
  color: #2196f3;
}
.navbar .collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 100%;
}
.navbar .collapse .navbar-nav {
  height: 100%;
}
.navbar .collapse .navbar-nav .nav-item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  position: relative;
}
.navbar .collapse .navbar-nav .nav-item::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 5px;
  top: 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  background-color: #2196f3;
}
.navbar .collapse .navbar-nav .nav-item:hover {
  background-color: #fafafa;
}
.navbar .collapse .navbar-nav .nav-item:hover::before {
  width: 100%;
}
.navbar .collapse .navbar-nav .nav-item:hover .nav-link {
  color: #2196f3;
}
.navbar .collapse .nav-link {
  padding: 0 30px;
  font-size: 18px;
  color: black;
}

@media (min-width: 768px) and (max-width: 991px) {
  .container-fluid {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  .container-fluid .navbar-brand {
    height: auto !important;
  }
  .container-fluid .collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .container-fluid .collapse .navbar-nav {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .dropdown-menu .row {
    -webkit-column-gap: 0px !important;
       -moz-column-gap: 0px !important;
            column-gap: 0px !important;
  }
  .dropdown-menu .row ul {
    padding: 0 20px !important;
  }
  .dropdown-menu .image {
    display: none;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .container-fluid .navbar-brand {
    height: auto;
  }
  .container-fluid .collapse {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-preferred-size: 1;
        flex-basis: 1;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-height: 45%;
    overflow: hidden;
  }
  .container-fluid .collapse .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-fluid .collapse .navbar-nav .nav-item {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .container-fluid .collapse .navbar-nav .nav-item .nav-link {
    padding: 10px;
    font-size: 14px;
  }
  .dropdown-menu {
    padding: 0 15px !important;
    width: 100% !important;
  }
  .dropdown-menu .special {
    border-top: 1px solid #e9e6e6;
  }
  .dropdown-menu ul {
    padding: 0 !important;
  }
  .dropdown-menu .image {
    display: none;
  }
  .show {
    top: 73px !important;
    z-index: 999 !important;
  }
}
.land {
  padding: 100px 0;
  position: relative;
}
.land::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 125%;
  top: -115px;
  left: 0;
  background-color: #ececec;
  z-index: -2;
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
}
.land .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.land .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
  font-weight: 700;
}
.land .text p {
  max-width: 500px;
  font-size: 24px;
  margin-top: 5px 0 0;
  color: #666;
}
.land .image img {
  position: relative;
  -webkit-animation-name: updown;
          animation-name: updown;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.land svg {
  position: absolute;
  bottom: -100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 30px;
  color: #2196f3;
  -webkit-animation-name: downit;
          animation-name: downit;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  cursor: pointer;
}

@-webkit-keyframes updown {
  0% {
    top: 0;
  }
  25% {
    top: -40px;
  }
  50% {
    top: 0;
  }
  75% {
    top: 40px;
  }
  100% {
    top: 0;
  }
}

@keyframes updown {
  0% {
    top: 0;
  }
  25% {
    top: -40px;
  }
  50% {
    top: 0;
  }
  75% {
    top: 40px;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes downit {
  0% {
    bottom: -100px;
  }
  20% {
    bottom: -70px;
  }
  40% {
    bottom: -70px;
  }
  60% {
    bottom: -100px;
  }
  80% {
    bottom: -80px;
  }
  100% {
    bottom: -100px;
  }
}
@keyframes downit {
  0% {
    bottom: -100px;
  }
  20% {
    bottom: -70px;
  }
  40% {
    bottom: -70px;
  }
  60% {
    bottom: -100px;
  }
  80% {
    bottom: -80px;
  }
  100% {
    bottom: -100px;
  }
}
@media (max-width: 400px) {
  .land {
    height: 75vh;
  }
  .land::before {
    height: 120%;
    top: -50px;
  }
  .land .container {
    height: 100%;
  }
  .land .container .row {
    height: 100%;
  }
  .land .container .text h1 {
    font-size: 28px;
    text-align: center;
  }
  .land .container .text p {
    font-size: 18px;
    text-align: center;
  }
  .land .container .image {
    display: none;
  }
}
@media (min-width: 401px) and (max-width: 767px) {
  .land {
    padding: 35px 0;
    height: auto;
  }
  .land::before {
    height: 190%;
  }
  .land .text h1 {
    font-size: 28px;
    text-align: center;
  }
  .land .text p {
    font-size: 18px;
    text-align: center;
  }
  .land .image {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .land {
    height: 75vh;
  }
  .land .container {
    height: 100%;
  }
  .land .container .row {
    height: 100%;
  }
  .land .text h1 {
    text-align: center;
  }
  .land .text p {
    text-align: center;
    margin: 10px auto;
  }
  .land .image {
    display: none;
  }
}
.articles {
  padding: 200px 0;
}
.articles .content {
  padding: 20px;
}
.articles .content .card {
  top: 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  padding: 0;
  border: none;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}
.articles .content .card:hover {
  top: -15px;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}
.articles .content .card:hover svg {
  -webkit-animation-name: mright;
          animation-name: mright;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.articles .content .card img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.articles .content .card .disc {
  padding: 20px;
}
.articles .content .card .disc h3 {
  margin: 0;
  font-size: 19px;
  font-weight: 700;
}
.articles .content .card .disc p {
  margin: 10px 0 0;
  font-size: 16px;
  color: #777;
}
.articles .content .card .read {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.articles .content .card .read button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  color: #2196f3;
}
.articles .content .card .read svg {
  color: #2196f3;
  position: absolute;
  right: 20px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

@-webkit-keyframes mright {
  0% {
    right: 20px;
  }
  100% {
    right: 10px;
  }
}

@keyframes mright {
  0% {
    right: 20px;
  }
  100% {
    right: 10px;
  }
}
.gallery {
  background-color: #ececec;
  position: relative;
  z-index: 6;
  padding: 100px 0;
}
.gallery::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  top: 0;
  left: 0;
  z-index: 999;
  background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(-135deg, white 25%, transparent 25%);
  background-size: 30px;
}
.gallery .content {
  padding: 20px;
}
.gallery .content .box {
  padding: 15px;
  background-color: white;
  -webkit-box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.13), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.13), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}
.gallery .content .box .image {
  overflow: hidden;
}
.gallery .content .box .image img {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.gallery .content .box .image img:hover {
  -webkit-transform: rotate(5deg) scale(1.1);
          transform: rotate(5deg) scale(1.1);
  -webkit-animation-name: flash;
          animation-name: flash;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

@-webkit-keyframes flash {
  0% {
    opacity: 0.4;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 0.4;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.featuers {
  padding: 100px 0;
}
.featuers .content {
  padding: 0 20px;
}
.featuers .content .box1, .featuers .content .box2, .featuers .content .box3 {
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.featuers .content .box1 .text h2, .featuers .content .box2 .text h2, .featuers .content .box3 .text h2 {
  font-size: 40px;
  text-align: center;
  position: relative;
  font-weight: 700;
}
.featuers .content .box1 .text p, .featuers .content .box2 .text p, .featuers .content .box3 .text p {
  padding: 25px;
  text-align: center;
  margin: 30px 0;
  color: #777;
  font-size: 20px;
  line-height: 2;
}
.featuers .content .box1 .image::before {
  background-color: #f44036;
}
.featuers .content .box2 .image::before {
  background-color: #009688;
}
.featuers .content .box3 .image::before {
  background-color: #03a9f4;
}
.featuers .content .box1 .image, .featuers .content .box2 .image, .featuers .content .box3 .image {
  position: relative;
  overflow-x: clip;
}
.featuers .content .box1 .image::before, .featuers .content .box2 .image::before, .featuers .content .box3 .image::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
}
.featuers .content .box1 .image::after, .featuers .content .box2 .image::after, .featuers .content .box3 .image::after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.featuers .content .box1 h2::after, .featuers .content .box2 h2::after, .featuers .content .box3 h2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 5px;
}
.featuers .content .box1 h2::after {
  background-color: #f44036;
  width: 25%;
}
.featuers .content .box1 .image {
  position: relative;
}
.featuers .content .box1 button {
  padding: 5px 30px;
  border-radius: 5px;
  margin: 0 auto 30px;
  display: block;
  font-size: 22px;
  font-weight: 700;
  border: 3px solid #f44036;
  background-color: transparent;
  color: #f44036;
  position: relative;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
.featuers .content .box1 button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f44036;
}
.featuers .content .box1:hover button::before {
  -webkit-animation-name: button;
          animation-name: button;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: -1;
}
.featuers .content .box1:hover button {
  color: white;
}
.featuers .content .box1:hover .image::after {
  border-width: 170px 500px 170px 0px;
  border-color: transparent transparent white transparent;
}
.featuers .content .box2 h2::after {
  background-color: #009688;
  width: 17%;
}
.featuers .content .box2 .image {
  position: relative;
}
.featuers .content .box2 button {
  padding: 5px 30px;
  border-radius: 5px;
  margin: 0 auto 30px;
  display: block;
  font-size: 22px;
  font-weight: 700;
  border: 3px solid #009688;
  background-color: transparent;
  color: #009688;
  position: relative;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
.featuers .content .box2 button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #009688;
}
.featuers .content .box2:hover button::before {
  -webkit-animation-name: button;
          animation-name: button;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: -1;
}
.featuers .content .box2:hover button {
  color: white;
}
.featuers .content .box2:hover .image::after {
  border-width: 170px 500px 170px 0px;
  border-color: transparent transparent white transparent;
}
.featuers .content .box3 h2::after {
  background-color: #03a9f4;
  width: 30%;
}
.featuers .content .box3 .image {
  position: relative;
}
.featuers .content .box3 button {
  padding: 5px 30px;
  border-radius: 5px;
  margin: 0 auto 30px;
  display: block;
  font-size: 22px;
  font-weight: 700;
  border: 3px solid #03a9f4;
  background-color: transparent;
  color: #03a9f4;
  position: relative;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  z-index: -1;
}
.featuers .content .box3 button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #03a9f4;
}
.featuers .content .box3:hover button::before {
  -webkit-animation-name: button;
          animation-name: button;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: -1;
}
.featuers .content .box3:hover button {
  color: white;
}
.featuers .content .box3:hover .image::after {
  border-width: 170px 500px 170px 0px;
  border-color: transparent transparent white transparent;
}

@-webkit-keyframes button {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes button {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.testimonials {
  background-color: #ececec;
  padding: 100px 0;
  position: relative;
  z-index: 2;
}
.testimonials .cont {
  padding: 20px;
}
.testimonials .cont .box {
  background-color: white;
  border-radius: 6px;
  padding: 20px;
  position: relative;
}
.testimonials .cont .box .avatar {
  position: absolute;
  top: -50px;
  right: -10px;
}
.testimonials .cont .box .avatar img {
  border-radius: 50%;
  width: 100px;
  border: 10px solid #ececec;
}
.testimonials .cont .box .disc h5 {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 10px;
  color: black;
}
.testimonials .cont .box .disc p {
  color: #777;
  margin-bottom: 10px;
}
.testimonials .cont .box .disc .fill {
  color: #ffc107;
}
.testimonials .cont .box .disc p:last-of-type {
  margin-top: 10px;
  margin-bottom: 0;
  color: #777;
}

.teammembers {
  padding: 100px 0;
}
.teammembers .cont {
  padding: 15px;
}
.teammembers .cont .box {
  position: relative;
  padding: 60px 0 0 0;
}
.teammembers .cont .box:hover img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.teammembers .cont .box:hover::after {
  width: 82%;
}
.teammembers .cont .box:hover h5 {
  color: #777 !important;
}
.teammembers .cont .box::before {
  content: "";
  position: absolute;
  width: 82%;
  height: 100%;
  background-color: #f3f3f3;
  top: 0;
  right: 0;
  z-index: -3;
  border-radius: 10px;
}
.teammembers .cont .box::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #e4e4e4;
  top: 0;
  right: 0;
  z-index: -2;
  border-radius: 10px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.teammembers .cont .box .imgicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.teammembers .cont .box .imgicon .image {
  width: 85%;
}
.teammembers .cont .box .imgicon .image img {
  max-width: 100%;
  border-radius: 6px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.teammembers .cont .box .imgicon .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.teammembers .cont .box .imgicon .icons svg {
  margin: 15px 0;
  color: #777;
  cursor: pointer;
}
.teammembers .cont .box .imgicon .icons svg:hover {
  color: #2196f3;
}
.teammembers .cont .box .disc {
  padding-left: 80px;
}
.teammembers .cont .box .disc h5 {
  margin-top: 22px;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 0;
  color: #2196f3;
}
.teammembers .cont .box .disc p {
  margin-top: 10px;
  margin-bottom: 25px;
}

@media (max-width: 400px) {
  .teammembers .box {
    padding: 60px 0 1px 0 !important;
  }
}
@media (min-width: 400px) and (max-width: 767px) {
  .teammembers .disc {
    padding-left: 120px !important;
  }
  .teammembers .box {
    padding: 60px 0 1px 0 !important;
  }
}
.services {
  background-color: #ececec;
  position: relative;
  z-index: 6;
  padding: 100px 0;
}
.services::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  top: 0;
  left: 0;
  z-index: 999;
  background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(-135deg, white 25%, transparent 25%);
  background-size: 30px;
}
.services .cont {
  padding: 20px;
}
.services .cont .box {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  top: 0;
}
.services .cont .box::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  top: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #2196f3;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.services .cont .box:hover {
  top: -10px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.services .cont .box:hover::before {
  width: 100%;
}
.services .cont .box .face {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.services .cont .box .face svg {
  margin: 30px auto 20px;
  font-size: 64px;
  color: #d5d5d5;
  width: 100%;
}
.services .cont .box .face h5 {
  font-size: 25px;
  font-weight: 700;
  color: #2196f3;
  margin: 0 0 40px;
}
.services .cont .box .after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f9f9f9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services .cont .box .after .number {
  width: 95px;
  background-color: #2196f3;
  padding: 0px 20px;
  font-size: 30px;
  font-weight: 900;
  color: white;
  position: relative;
}
.services .cont .box .after .number::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #d5d5d5;
  right: -30px;
  top: 0;
  -webkit-transform: skewX(-35deg);
          transform: skewX(-35deg);
}
.services .cont .box .after .number p {
  margin: 0;
}
.services .cont .box .after .detail {
  padding: 0 15px;
}
.services .cont .box .after .detail a {
  text-decoration: none;
  color: #2196f3;
}

.skills {
  padding: 100px 0;
}
.skills .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.skills .cont .con {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skills .cont .con h5 {
  margin: 18px 0;
  font-size: 18px;
  font-weight: 700;
}
.skills .cont .con span {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  padding: 1px 5px;
  font-weight: 900;
  color: #2196f3;
}
.skills .cont .con .div {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #eee;
}
.skills .cont .con .div::before {
  content: "";
  position: absolute;
  height: 100%;
  background-color: #2196f3;
  left: 0;
  top: 0;
}

@media (max-width: 991px) {
  .skills .img {
    display: none;
  }
}
.animate.ht::before {
  width: 0;
  -webkit-animation-name: ht;
          animation-name: ht;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.animate.cs::before {
  width: 0;
  -webkit-animation-name: cs;
          animation-name: cs;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.animate.js::before {
  width: 0;
  -webkit-animation-name: js;
          animation-name: js;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.animate.py::before {
  width: 0;
  -webkit-animation-name: py;
          animation-name: py;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
@-webkit-keyframes ht {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@keyframes ht {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@-webkit-keyframes cs {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}
@keyframes cs {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}
@-webkit-keyframes js {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
@keyframes js {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
@-webkit-keyframes py {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}
@keyframes py {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}

.works {
  background-color: #ececec;
  position: relative;
  padding: 100px 0;
}
.works .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.works .row .cont {
  padding: 0;
}
.works .row .cont .con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f5f5;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 2px solid white;
  position: relative;
  z-index: 999;
}
.works .row .cont .con::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #ededed;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}
.works .row .cont .con:hover::after {
  width: 100%;
  height: 100%;
}
.works .row .cont .con .imag {
  width: 162px;
  margin-right: 30px;
}
.works .row .cont .con .text h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
}
.works .row .cont .con .text p {
  margin: 0;
  margin-top: 10px;
  font-size: 18px;
  color: #777;
}

@media screen and (max-width: 767px) {
  .works .row > .cont {
    margin-bottom: 40px;
  }
}
.events {
  position: relative;
  padding: 100px 0;
}
.events > img {
  position: absolute;
  top: 200px;
  right: 0 !important;
}
.events img:nth-of-type(2) {
  position: absolute;
  left: 0;
  bottom: 200px;
  top: auto !important;
}
.events .row {
  text-align: center;
}
.events .row .cont:nth-of-type(2) .con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.events .row .cont:nth-of-type(2) .div {
  border: 1px solid rgba(204, 204, 204, 0.8);
  border-radius: 6px;
  width: 70px;
}
.events .row .cont:nth-of-type(2) .div span {
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
  font-size: 35px;
  font-weight: 900;
  color: #2196f3;
}
.events .row .cont:nth-of-type(2) .div p {
  margin: 0;
  padding: 8px 10px;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
}
.events .row .cont:nth-of-type(2) .div:hover {
  border-color: #2196f3;
}
.events .row .cont:nth-of-type(2) .div:hover span {
  border-bottom-color: #2196f3;
}
.events .row .cont:nth-of-type(2) .text {
  text-align: center;
  margin-top: 40px;
}
.events .row .cont:nth-of-type(2) .text h3 {
  margin: 0;
  font-size: 30px;
  font-weight: 900;
}
.events .row .cont:nth-of-type(2) .text p {
  margin: 19px 0;
  font-size: 19px;
  color: #777;
}
.events .row .cont:last-of-type {
  margin-top: 50px;
}
.events .row .cont:last-of-type .inputs {
  width: 600px;
  margin: 20px auto;
  padding: 30px 40px;
  background-color: #f6f5f5;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.events .row .cont:last-of-type .inputs [type=email] {
  border: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 50px;
  padding: 20px;
  font-size: 16px;
}
.events .row .cont:last-of-type .inputs [type=email]:focus {
  outline: none;
  border: none;
}
.events .row .cont:last-of-type .inputs [type=button] {
  border: none;
  background-color: #2196f3;
  color: white;
  font-size: 15px;
  font-weight: 700;
  padding: 20px;
  border-radius: 50px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.events .row .cont:last-of-type .inputs [type=button]:hover {
  background-color: #1787e0;
}

@media (max-width: 991px) {
  .events img {
    display: none;
  }
  .events .inputs {
    max-width: 100% !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 15px !important;
    padding: 15px 20px !important;
  }
  .events .inputs [type=email] {
    width: 100% !important;
    border-radius: 15px !important;
  }
  .events .inputs [type=button] {
    border-radius: 15px !important;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    margin-top: 5px;
  }
}
.plans {
  position: relative;
  padding: 100px 0;
  background-color: #ececec;
}
.plans img.first {
  position: absolute;
  top: 200px;
  right: 0 !important;
}
.plans img.second {
  position: absolute;
  left: 0;
  bottom: 200px;
}
.plans .price {
  padding: 0 15px;
}
.plans .price .cont {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  z-index: 99;
}
.plans .price .cont .shows {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.plans .price .cont .shows h5 {
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  margin: 30px 0;
}
.plans .price .cont .shows .img {
  width: 80px !important;
  margin-bottom: 30px;
}
.plans .price .cont .shows h3 {
  width: 100%;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  color: #2196f3;
  margin-bottom: 5px;
}
.plans .price .cont .shows .per {
  font-size: 16px;
  color: #777;
  margin: 0 0 20px;
}
.plans .price .cont .detail .para {
  margin: 0;
  padding: 20px;
  border-top: 1px solid #eee;
}
.plans .price .cont .detail .check {
  color: #2196f3;
  font-size: 16px;
  margin-right: 10px;
}
.plans .price .cont .button {
  padding-bottom: 40px;
}
.plans .price .cont .button input {
  display: block;
  margin: 30px auto 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 20px;
  border-radius: 6px;
  font-weight: 900;
  background-color: white;
  color: #2196f3;
  border: 2px solid #2196f3;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.plans .price .cont .button input:hover {
  color: white !important;
  background-color: #2196f3 !important;
}
.plans .price .cont::before {
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  top: 0;
  right: 0;
  z-index: -1;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.plans .price .cont::after {
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.plans .price .cont:hover::after, .plans .price .cont:hover::before {
  width: 100%;
}

.price.using {
  position: relative;
  bottom: 20px;
}
.price.using::before {
  content: "Most Popular";
  position: absolute;
  top: 49px;
  right: -15px;
  background-color: #2196f3;
  color: white;
  padding: 7px 25px 7px 10px;
  font-size: 18px;
  font-weight: 900;
  z-index: 99;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  z-index: 998;
}
.price.using::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 20px;
  border-color: transparent transparent white transparent;
  border-style: solid;
  top: 99px;
  right: 34px;
  z-index: 999;
}

@media (max-width: 991px) {
  .price.using {
    bottom: 0 !important;
  }
  .price {
    margin: 10px 0;
  }
}
.videos {
  padding: 100px 0;
}
.videos .row {
  border: 1px solid #e2e2e2;
  background-color: #e2e2e2;
}
.videos .row .list {
  padding: 0;
  background-color: white;
}
.videos .row .list .play-list {
  display: none;
}
.videos .row .list .top-vid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  font-size: 16px;
  background-color: #f4f4f4;
}
.videos .row .list .top-vid h4 {
  font-size: 16px;
  font-weight: 800;
  margin: 0;
}
.videos .row .list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.videos .row .list ul li {
  padding: 20px;
  border-bottom: 1px solid #e2e2e2;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.videos .row .list ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.videos .row .list ul li p {
  margin: 0;
  margin-top: 10px;
  color: #777;
}
.videos .row .list ul li:hover, .videos .row .list ul li.active {
  background-color: #fafafa;
}
.videos .row .list ul li:hover a, .videos .row .list ul li.active a {
  color: #2196f3;
}
.videos .row .vedio {
  padding: 10px;
}
.videos .row .vedio .content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.videos .row .vedio .content .div {
  width: 100%;
  height: calc(100% - 74px);
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.videos .row .vedio .content .div img {
  position: absolute;
  opacity: 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.videos .row .vedio .content .div .chosen {
  z-index: 9999;
  opacity: 1;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.videos .row .vedio .content .discrib {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding: 20px;
  margin-top: 10px;
  background-color: white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
}
.videos .row .vedio .content .discrib p {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .videos .row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  .videos .row .play-list {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    font-size: 16px;
    background-color: #f4f4f4;
  }
  .videos .row .play-list h4 {
    font-size: 16px;
    font-weight: 800;
    margin: 0;
  }
  .videos .row .play-list span {
    cursor: pointer;
  }
  .videos .row .play-list span:hover, .videos .row .play-list span.down {
    color: #2196f3;
  }
  .videos .row .top-vid {
    display: none !important;
  }
  .videos .row .list {
    overflow: hidden;
    height: 65px;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
  }
  .vedio .content .div {
    height: 225px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .videos .row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  .videos .row .play-list {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    font-size: 16px;
    background-color: #f4f4f4;
  }
  .videos .row .play-list h4 {
    font-size: 16px;
    font-weight: 800;
    margin: 0;
  }
  .videos .row .play-list span {
    cursor: pointer;
  }
  .videos .row .play-list span:hover, .videos .row .play-list span.down {
    color: #2196f3;
  }
  .videos .row .top-vid {
    display: none !important;
  }
  .videos .row .list {
    overflow: hidden;
    height: 65px;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
  }
  .vedio .content .div {
    height: 465px !important;
  }
}
.show-list {
  height: 100% !important;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.stats {
  padding: 100px 0;
  background-image: url("../Images/stats.jpg");
  background-size: cover;
  position: relative;
  z-index: 999999;
}
.stats::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.9;
}
.stats h2 {
  margin: 0 auto 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 40px;
  font-weight: 700;
  color: black;
}
.stats .cont {
  padding: 0 10px;
}
.stats .cont .boxs {
  position: relative;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 15px;
}
.stats .cont .boxs::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: #2196f3;
  bottom: 0;
  left: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}
.stats .cont .boxs svg {
  font-size: 32px;
}
.stats .cont .boxs span {
  margin: 10px 0;
  font-size: 50px;
  font-weight: 800;
}
.stats .cont .boxs p {
  margin: 0;
  font-size: 20px;
  color: #2196f3;
  font-weight: 700;
}
.stats .cont .boxs::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: #2196f3;
  top: 0;
  right: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}
.stats .cont .boxs:hover::before, .stats .cont .boxs:hover::after {
  height: 100%;
}
.stats .cont .boxs:hover span,
.stats .cont .boxs:hover svg {
  color: black;
}

@media screen and (max-width: 767px) {
  .stats .title {
    text-align: center;
    font-size: 35px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .boxs {
    margin-top: 20px;
  }
}
.request {
  overflow: hidden;
}
.request .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
  background-image: url("../Images/Request/discount-background1.jpg");
  background-size: cover;
  position: relative;
  -webkit-animation-name: change-backgr;
          animation-name: change-backgr;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.request .left::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(23, 135, 224, 0.9490196078);
  z-index: 1;
}
.request .left .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
  width: 540px;
  z-index: 99;
}
.request .left .cont h1 {
  font-size: 40px;
  text-align: center;
  margin: 33px 0;
  font-weight: 800;
  color: white;
}
.request .left .cont p {
  text-align: center;
  font-size: 18px;
  margin: 0 0 18px;
  line-height: 1.6;
  color: white;
}
.request .left .cont img {
  width: 300px;
}
.request .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.request .right form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.request .right form h1 {
  color: black;
  font-weight: 900;
  margin: 33px 0;
}
.request .right form input {
  border: none;
  padding: 15px;
  margin-bottom: 25px;
  background-color: #f9f9f9;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.request .right form input:focus {
  outline: none;
}
.request .right form textarea {
  width: 100%;
  resize: none;
  border: none;
  padding: 15px;
  margin-bottom: 25px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
  min-height: 200px;
}
.request .right form textarea:focus {
  outline: none;
}
.request .right form [type=button] {
  font-size: 20px !important;
  font-weight: 900 !important;
  background-color: #2196f3;
  color: white !important;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.request .right form [type=button]:hover {
  background-color: #1787e0 !important;
}

@-webkit-keyframes change-backgr {
  0% {
    background-image: url("../Images/Request/discount-background1.jpg");
  }
  50% {
    background-image: url("../Images/Request/discount-background2.jpg");
  }
  100% {
    background-image: url("../Images/Request/discount-background1.jpg");
  }
}

@keyframes change-backgr {
  0% {
    background-image: url("../Images/Request/discount-background1.jpg");
  }
  50% {
    background-image: url("../Images/Request/discount-background2.jpg");
  }
  100% {
    background-image: url("../Images/Request/discount-background1.jpg");
  }
}
@media screen and (max-width: 767px) {
  .request .left h1 {
    font-size: 30px;
  }
}
footer {
  padding: 70px 0 0;
  background-color: #191919;
}
footer .box2,
footer .box3,
footer .box4 {
  padding: 0 20px;
}
footer .box1 {
  padding: 0 20px 0 0;
}
footer .box1 .cont h1 {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 20px;
  color: white;
}
footer .box1 .cont .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .box1 .cont .icons .icon {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  background-color: #313131;
  color: #b9b9b9;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  margin-right: 10px;
}
footer .box1 .cont .icons .fac:hover {
  background-color: #1877f2;
  color: white;
}
footer .box1 .cont .icons .twit:hover {
  background-color: #1da1f2;
  color: white;
}
footer .box1 .cont .icons .you:hover {
  background-color: #ff0000;
  color: white;
}
footer .box1 .cont p {
  margin: 16px 0;
  line-height: 2;
  color: #b9b9b9;
}
footer .box2 .cont ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .box2 .cont ul li {
  padding: 15px 0;
  border-bottom: 1px solid #444;
  color: #b9b9b9;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
footer .box2 .cont ul li span {
  margin-right: 10px;
  font-size: 14px;
  color: #2196f3 !important;
}
footer .box2 .cont ul li:hover {
  padding-left: 10px;
  color: white;
}
footer .box2 .cont ul li:last-of-type {
  border: none;
}
footer .box3 .cont p {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.7;
  font-weight: 600;
  color: #b9b9b9;
}
footer .box3 .cont p span {
  font-size: 25px;
  margin-right: 10px;
  color: #2196f3 !important;
}
footer .box4 {
  padding: 0 0 0 20px !important;
}
footer .box4 .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .box4 .cont .image {
  padding: 2px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  margin: 3px;
}
footer .box4 .cont .image img {
  width: 78px;
}
footer .made {
  margin-top: 50px;
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #444;
}
footer .made p {
  margin: 0;
  color: white;
}
footer .made p .first {
  color: #ff0000 !important;
}
footer .made p .second {
  color: #2196f3 !important;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .box1 {
    padding: 0 10px !important;
    text-align: center;
    margin-bottom: 20px;
  }
  .box1 .icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box2 {
    margin-bottom: 20px;
  }
  .box2 ul {
    text-align: center;
  }
  .box3 p {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .box4 .row {
    max-width: 100%;
  }
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  .box3 {
    padding-left: 0 !important;
  }
}