@use "../Variabls/variabls" as *;
.navbarr {
  background-color: white;
  .dropdown-menu {
    width: 95vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    opacity: 0;
    transition: $transision;
    display: block;
    padding: 30px;
    border-radius: 0;
    border: none;
    border-bottom: 3px solid $main-color;
    z-index: -1;
    .row {
      column-gap: 30px;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li:not(:first-child) {
          border-top: 1px solid #e9e6e6;
        }
        li {
          padding: 15px;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 0%;
            height: 100%;
            top: 0;
            transition: $transision;
            background-color: #fafafa;
            z-index: -1;
            left: 0;
          }
          &:hover::before {
            width: 100%;
          }
          a {
            font-size: 18px;
            color: $main-color;
            font-weight: bold;
            padding: 0;
            &:focus {
              background-color: transparent;
            }
            svg {
              margin-right: 15px;
            }
            &:hover {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
  .show {
    top: 73px;
    opacity: 1;
    z-index: 999 !important;
  }
}
.navbar {
  height: 72px;
  padding: 0;
  .container-fluid {
    height: 100%;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 26px;
    font-weight: 700;
    color: $main-color;
  }
  .collapse {
    justify-content: end;
    height: 100%;
    .navbar-nav {
      height: 100%;
      .nav-item {
        height: 100%;
        display: flex;
        align-items: center;
        transition: $transision;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 0%;
          height: 5px;
          top: 0;
          transition: $transision;
          background-color: $main-color;
        }
        &:hover {
          background-color: #fafafa;
          &::before {
            width: 100%;
          }
          .nav-link {
            color: $main-color;
          }
        }
      }
    }
    .nav-link {
      padding: 0 30px;
      font-size: 18px;
      color: black;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container-fluid {
    justify-content: space-between !important;
    .navbar-brand {
      height: auto !important;
    }
    .collapse {
      display: flex !important;
      flex-basis: 0;
      flex-grow: 0;
      .navbar-nav {
        flex-direction: row !important;
        justify-content: center !important;
      }
    }
  }
  .dropdown-menu {
    .row {
      column-gap: 0px !important;
      ul {
        padding: 0 20px !important;
      }
    }
    .image {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .container-fluid {
    justify-content: center !important;
    .navbar-brand {
      height: auto;
    }
    .collapse {
      display: block;
      height: fit-content;
      flex-basis: 1;
      flex-grow: 1;
      max-height: 45%;
      overflow: hidden;
      .navbar-nav {
        flex-direction: row;
        justify-content: center;
        .nav-item {
          height: fit-content;
          .nav-link {
            padding: 10px;
            font-size: 14px;
          }
        }
      }
    }
  }
  .dropdown-menu {
    padding: 0 15px !important;
    width: 100% !important;
    .special {
      border-top: 1px solid #e9e6e6;
    }
    ul {
      padding: 0 !important;
    }
    .image {
      display: none;
    }
  }
  .show {
    top: 73px !important;
    z-index: 999 !important;
  }
}
