@use "../Variabls/variabls" as *;

.articles {
  padding: 200px 0;
  .content {
    padding: 20px;
    .card {
      top: 0;
      transition: $transision;
      padding: 0;
      border: none;
      box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
      position: relative;
      &:hover {
        top: -15px;
        box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
        svg {
          animation-name: mright;
          animation-timing-function: linear;
          animation-duration: 0.6s;
          animation-iteration-count: infinite;
        }
      }
      img {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
      }
      .disc {
        padding: 20px;
        h3 {
          margin: 0;
          font-size: 19px;
          font-weight: 700;
        }
        p {
          margin: 10px 0 0;
          font-size: 16px;
          color: #777;
        }
      }
      .read {
        padding: 20px;
        border-top: 1px solid #e6e6e7;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        button {
          border: none;
          background-color: transparent;
          font-size: 16px;
          font-weight: 700;
          color: $main-color;
        }
        svg {
          color: $main-color;
          position: absolute;
          right: 20px;
          transition: $transision;
        }
      }
    }
  }
}
@keyframes mright {
  0% {right: 20px;}
  100% {right: 10px;}
}